[Unit]
Description=SHPRD
Documentation=https://github.com/Nebuless/shprd
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/shprd/shprd.env
ExecStart=%h/.local/bin/shprd
Restart=always
RestartSec=2
TimeoutStopSec=15

[Install]
WantedBy=default.target
